<div id="{{ .Get "name" | urlize }}" class="api-endpoint">
  <a href="#{{ .Get "name" | urlize }}" class="api-endpoint--anchor">#</a>
  <div class="api-endpoint--heading">
    <h3>{{ .Get "name" }}</h3>
    <code>{{ .Get "method" }} {{ .Get "path" }}</code>
  </div>
  
  {{ if .Get "description" }}
    <p class="api-endpoint--description">
      {{ .Get "description" | markdownify }}
    </p>
  {{ end }}

  {{ if .Get "returns" }}
    <p class="api-endpoint--returns">
      <strong>Returns:</strong> {{ .Get "returns" | markdownify }}
    </p>
  {{ end }}
</div>
