<section class="container grid-960">
  <div *ngFor="let post of posts" class="post">
    <h2>
      <a [routerLink]="['/blog', post.slug]">
        {{post.title}}
      </a>
    </h2>
    <p class="created">
      Published <span momentAgo [datetime]="post.datetime"></span>
    </p>
    <div class="body">
      <span [innerHtml]="post.body | safeHtml"></span>
    </div>
    <div class="tags">
      <span *ngFor="let tag of post.tags" class="label">{{tag}}</span>
    </div>
    <a [routerLink]="['/blog', post.slug]" class="btn btn-sm">
      Read full post
    </a>
    <hr />
  </div>
</section>
