@import '../variables';

#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  transition: background 0.3s;

  .navbar-section {
    justify-content: flex-start;
  }

  .link-admin {
    margin-left: auto;
  }

  .navbar-brand {
    padding-right: 10px;
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #fff;
    transition: color 0.3s;

    &:focus {
      box-shadow: none;
    }

    .logo {
      display: inline-block;
      width: 42px;
      height: 36px;
      background: url('../assets/logo_white.svg') no-repeat 0 0;
      background-size: 42px 36px;
      vertical-align: middle;
      transition: background 1s;
    }

    .name {
      display: inline-block;
      padding-left: 10px;
    }
  }

  .btn.btn-link {
    position: relative;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;

    &:hover, &.active {
      color: #fff;
    }

    &:focus {
      color: #fff;
      box-shadow: none;
    }
  }

  &.solid {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    .navbar-brand {
      color: @dark-color;

      &:hover {
        color: lighten(@dark-color, 15%);
      }

      .logo {
        background-image: url('../assets/logo.svg');
      }
    }

    .btn.btn-link {
      color: @link-color;

      &:hover, &.active {
        color: @link-color-dark;
      }
    }
  }
}

#content {
  .toasts {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    .toast {
      padding: 2rem;
      margin-top: 1rem;
      border: none;
      animation-duration: 0.5s;
      animation-name: fadeIn;

      button {
        margin-top: 2px;
      }

      &.dismiss {
        animation-duration: 0.25s;
        animation-name: fadeOut;
      }
    }
  }
}

#footer {
  padding: 2rem 0 4rem 0;
  font-size: 1.4rem;
  color: @gray-color;
  text-align: center;

  img {
    height: 24px;
    width: auto;
    margin: -3px 5px 0 0;
    vertical-align: middle;
  }
}
