<header id="top-bar" [ngClass]="{ navbar: true, solid: !atTop }">
  <section class="container grid-960">
    <section class="navbar-section">
      <a routerLink="/" class="navbar-brand mr-10">
        <span class="logo"></span>
        <span class="name hide-xs">Team Tea Time</span>
      </a>
      <a
        *ngFor="let link of links"
        class="btn btn-link"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        {{link.label}}
      </a>
      <a [ngClass]="{ hide: !authService.getAuth() }" [routerLink]="['/admin']" class="btn btn-link link-admin">
        Admin
      </a>
    </section>
  </section>
</header>
<app-splash [title]="title"></app-splash>
<section id="content">
  <router-outlet></router-outlet>
</section>
