<header id="top-bar" [ngClass]="{ navbar: true, solid: !atTop }">
  <section class="container grid-960">
    <section class="navbar-section">
      <a routerLink="/" class="navbar-brand mr-10">
        <span class="logo"></span>
        <span class="name hide-xs">Team Tea Time</span>
      </a>
      <a
        *ngFor="let link of links"
        class="btn btn-link"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        {{link.label}}
      </a>
      <a
        [ngClass]="{ hide: !authService.getAuth() }"
        [routerLink]="['/admin']"
        routerLinkActive="active"
        class="btn btn-link link-admin"
      >
        Admin
      </a>
    </section>
  </section>
</header>
<app-splash [title]="title"></app-splash>
<section id="content">
  <div class="toasts" [hidden]="!toasts || toasts.length < 1">
    <div *ngFor="let toast of toasts" class="toast toast-{{toast.type}} {{toast.class}}">
      <button class="btn btn-clear float-right" (click)="dismissToast(toast)"></button>
      {{toast.message}}
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
<section id="footer">
  <img src="../assets/logo.svg" alt="TeamTeaTime" /> © {{ now | date: 'y' }} Team Tea Time
</section>
