<section class="container grid-960">
  <form (ngSubmit)="submit()">
    <div class="form-group" [ngClass]="{ 'has-error': errors.title }">
      <label class="form-label" for="title">Title</label>
      <input
        class="form-input"
        type="text"
        id="title"
        placeholder="Title"
        name="title"
        [(ngModel)]="model.title"
      />
      <p class="form-input-hint" *ngIf="errors.title">{{errors.title.msg}}</p>
    </div>
    <div *ngIf="editing" class="form-group" [ngClass]="{ 'has-error': errors.slug }">
      <label class="form-label" for="slug">Slug</label>
      <input
        class="form-input"
        type="text"
        id="slug"
        placeholder="Slug"
        name="slug"
        [(ngModel)]="model.slug"
      />
      <p class="form-input-hint" *ngIf="errors.slug">{{errors.slug.msg}}</p>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': errors.body }">
      <label class="form-label" for="body">Body</label>
      <trumbowyg
        liveUpdate="true"
        togglePreview="true"
        [initialContent]="initialBody"
        (savedContent)="model.body=$event"
      ></trumbowyg>
      <p class="form-input-hint" *ngIf="errors.body">{{errors.body.msg}}</p>
    </div>
    <div class="form-group">
      <label class="form-label" for="tags">Tags</label>
      <tag-input [(ngModel)]="model.tags" name="tags" [modelAsStrings]="true"></tag-input>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg">Save</button>
    </div>
  </form>
</section>
