{{ partial "header.html" . }}

<div class="main list">
  {{ partial "top.html" . }}

  <section class="header">
    <h1>{{ .Title }}</h1>
  </section>

  <section class="content">
    <div class="wrapper">
      <div class="text-center">{{ .Content }}</div>

      <ul class="pages">
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      </ul>

      <div class="text-center">
        {{ partial "theme-toggler.html" . }}
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
