<section class="container grid-960">
  <h2>We are Team Tea Time</h2>
  <div class="card">
    <div class="card-image">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/4c/46/ec/4c46ec6649d35f822e8052f9bd0bd6fa.jpg" class="img-responsive" />
    </div>
    <div class="card-header">
      <h4 class="card-title">Microsoft</h4>
      <h6 class="card-subtitle">Software and hardware</h6>
    </div>
    <div class="card-body">
      Empower every person and every organization on the planet to achieve more.
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Do</button>
    </div>
  </div>
</section>
<section class="dark">
  <section class="container grid-960">
    Test
  </section>
</section>
