<section class="container grid-960">
  <div class="text-center">
    <h2>Categories</h2>
    <button class="btn btn-primary btn-lg" [routerLink]="['/admin/projects/categories/create']">
      Create category
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th colspan="2">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!categories || categories.length == 0">
        <td colspan="5">
          No categories
        </td>
      </tr>
      <tr *ngFor="let category of categories">
        <td>
          {{category.name}}
        </td>
        <td class="text-right">
          <a [routerLink]="['/admin/projects/categories', category._id, 'edit']">Edit</a>
          <span
            *ngIf="!category.projects.length"
            class="link danger"
            (click)="deleteCategory(category)"
          >Delete</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <h2>Projects</h2>
    <button class="btn btn-primary btn-lg" [routerLink]="['/admin/projects/create']">
      Create project
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Created</th>
        <th colspan="2">Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!projects || projects.length == 0">
        <td colspan="5">
          No projects
        </td>
      </tr>
      <tr *ngFor="let project of projects | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
        <td>
          {{project.name}}
        </td>
        <td>
          {{project.category.name}}
        </td>
        <td>
          <span moment [datetime]="project.created_at"></span>
        </td>
        <td>
          <span moment [datetime]="project.updated_at"></span>
        </td>
        <td class="text-right">
          <a [routerLink]="['/admin/projects', project._id, 'edit']">Edit</a>
          <span class="link danger" (click)="deleteProject(project)">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="goToPage($event)" class="text-center"></pagination-controls>
</section>
