{{ partial "header.html" . }}

<div class="home">
  <div class="inner">
    <div class="logo-container">
      <div class="logo">
        <img src="/images/logo_white.svg">
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <div class="name">
          Rick Mann
        </div>
        <div class="alias">
          Riari
        </div>
        <div class="links">
          <div class="link">
            <a href="https://www.linkedin.com/in/riari/" target="_blank">
              <img src="/images/linkedin.svg"> LinkedIn
            </a>
          </div>
          <div class="link">
            <a href="https://github.com/Riari" target="_blank">
              <img src="/images/github.svg"> GitHub
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="name">
          Nick Snape
        </div>
        <div class="alias">
          Neehi
        </div>
        <div class="links">
          <div class="link">
            <a href="https://www.linkedin.com/in/nicksnape/" target="_blank">
              <img src="/images/linkedin.svg"> LinkedIn
            </a>
          </div>
          <div class="link">
            <a href="https://github.com/Neehi" target="_blank">
              <img src="/images/github.svg"> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="stuff">
      Looking for Laravel Forum 
      <a href="http://laravel-forum.teamteatime.net/" target="_blank">demo</a> 
      and 
      <a href="/docs/laravel-forum/5/">docs</a>?
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
