<div id="projects">
  <section class="container grid-960 intro">
    <p>Hello! We are Nick and Rick, programming and web dev enthusiasts based in the UK.</p>
    <p>See a selection of our projects below.</p>
  </section>
  <section
    *ngFor="let category of categories; let even = even; let odd = odd"
    [ngClass]="{ category: true, dark: odd }"
  >
    <section class="container grid-960">
      <h2>{{category.name}}</h2>
      <div class="columns">
        <div class="column col-sm-12 col-md-6 col-4" *ngFor="let project of category.projects">
          <div class="card">
            <div class="card-image">
              <img [src]="'https://s3-eu-west-1.amazonaws.com/teamteatime.net/' + project.images[0]" class="img-responsive" />
            </div>
            <div class="card-header">
              <h4 class="card-title">{{project.name}}</h4>
              <h6 class="card-subtitle" *ngIf="project.tags">
                <span *ngFor="let tag of project.tags; let last = last">
                   {{tag}}{{last ? '' : ', '}}
                </span>
              </h6>
            </div>
            <div class="card-body" [innerHtml]="project.summary | safeHtml">
            </div>
            <div class="card-footer">
              <a
                class="btn btn-primary"
                *ngIf="project.url"
                [href]="project.url"
                target="_blank"
              >
                View site
              </a>
              <a
                class="btn btn-primary"
                *ngIf="project.source_repo"
                [routerLink]="['/docs', project.slug]"
              >
                View docs
              </a>
              <a
                class="btn"
                *ngIf="project.source_repo"
                [href]="'https://github.com/' + project.source_repo"
                target="_blank"
              >
                <span class="github"></span>
              </a>
              <a
                class="btn"
                *ngIf="project.download_url"
                [href]="project.download_url"
                target="_blank"
              >
                <i class="icon icon-download"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
