<div id="projects">
  <section class="container grid-960 intro">
    <p>Hello! We are Nick and Rick, programming and web dev enthusiasts based in the UK.</p>
    <p>See a selection of our projects below.</p>
  </section>
  <section
    *ngFor="let category of categories; let even = even; let odd = odd"
    [ngClass]="{ category: true, dark: odd }"
  >
    <section class="container grid-960">
      <h2>{{category.name}}</h2>
      <div class="column col-4" *ngFor="let project of category.projects">
        <div class="card">
          <div class="card-image">
            <img [src]="'https://s3-eu-west-1.amazonaws.com/teamteatime.net/' + project.images[0]" class="img-responsive" />
          </div>
          <div class="card-header">
            <h4 class="card-title">{{project.name}}</h4>
            <h6 class="card-subtitle" *ngIf="project.tags">
              <span *ngFor="let tag of project.tags; let last = last">
                 {{tag}}{{last ? '' : ', '}}
              </span>
            </h6>
          </div>
          <div class="card-body">
            {{project.summary}}
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">View details</button>
            <button class="btn" *ngIf="project.url">Visit site</button>
            <button class="btn" *ngIf="project.documentation_repo">View docs</button>
            <button class="btn" *ngIf="project.download_url">
              <i class="icon icon-download"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
