<section class="container grid-960" [ngBusy]="loading">
  <div class="text-center">
    <button class="btn btn-primary btn-lg" [routerLink]="['/admin/users/create']">
      Create user
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!users || users.length == 0">
        <td colspan="3">No users</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          {{user.name}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td class="text-right">
          <a [routerLink]="['/admin/users', user._id, 'edit']">Edit</a>
          <span *ngIf="users.length > 1" class="link danger" (click)="delete(user)">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
