.modal-backdrop {
    z-index: 1030;
}

#wrap {
    .btn {
        border: none;
        font-weight: 800;
        font-size: 1.2rem;
    }

    #splash .container .page-header {
        margin: 0;
        padding: 0;
        border-bottom: none;
    }

    #body {
        font-size: 1.7rem;
    }
}
