// Icon fonts
$icon-font-path: "../../fonts/";
$fa-font-path: "../../fonts";

// Fonts
$font-size-base: 15px;
$headings-font-weight: 300;
$headings-color: #50be99;

// Colours
$btn-success-bg: #50be99;
