---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Team Tea Time">
    <main>
        <h1><span class="text-gradient">Team Tea Time</span></h1>

        <div style="text-align: center;">
            <p>Page not found :(</p>
            <p>Looking for the Laravel Forum <a href="/docs/laravel-forum/6.x/general">docs</a> or <a href="https://laravel-forum.teamteatime.net/">demo</a>?</p>
        </div>

        <img src="/logo.svg" class="logo" />
    </main>
</Layout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-sizing: border-box;
        padding: 1rem;
        width: 800px;
        min-height: 100vh;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    .logo {
        width: 96px;
        margin-top: 2rem;
    }

    h1 {
        font-family: "Rajdhani", sans-serif;
        font-size: 6rem;
        font-weight: 500;
        line-height: 1;
        text-align: center;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
