<section id="admin-navigation" class="navbar-section">
  <section class="container grid-960">
    <span class="prefix">Admin</span>
    <a
      *ngFor="let link of links"
      class="btn btn-link"
      [routerLink]="link.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{link.label}}
    </a>
    <span class="end">
      Hello, {{user.name}} (<span class="action" (click)="logout()">log out</span>)
    </span>
  </section>
</section>
<router-outlet></router-outlet>
<hr>
