@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '../node_modules/spectre.css/spectre';
@import '../node_modules/spectre.css/spectre-icons';
@import '../node_modules/spectre.css/spectre-exp';
@import 'variables';

h1, h2, h3, h4 {
  font-family: Rajdhani, sans-serif;
}

#content {
  padding: 3rem 0;

  section.dark {
    margin: 3rem 0;
    padding: 3rem 0;
    background: @gray-color;
    color: #fff;
  }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
