@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '../node_modules/spectre.css/spectre';
@import '../node_modules/spectre.css/spectre-icons';
@import '../node_modules/spectre.css/spectre-exp';
@import '../node_modules/angular2-busy/src/style/busy';
@import 'variables';

h1, h2, h3, h4 {
  font-family: Rajdhani, sans-serif;
}

hr {
  height: 1px;
  margin: 2rem 0;
  border: none;
  background: @gray-color-light;
}

#content {
  a:not(.btn):not(.menu-item .btn):hover {
    text-decoration: none;
    border-bottom: 2px solid @link-color-dark;
  }

  .btn {
    &:focus {
      background: inherit;
    }
    &.btn-primary:focus {
      background: @primary-color;
    }
  }

  .menu {
    .menu-item {
      a {
        &:focus {
          background: inherit;
        }

        &.active {
          font-weight: bold;
          background: none;
        }
      }
    }
  }

  .ngx-pagination {
    a, button {
      border-radius: 3px;
      color: @gray-color-dark;
      cursor: pointer;

      &:hover {
        background: @gray-color-light;
        border: none;
      }
    }

    .current {
      border-radius: 3px;
      background: @primary-color;
    }
  }

  .link {
    cursor: pointer;

    &.danger {
      color: darken(@danger-color, 10%);

      &:hover {
        border-bottom: 2px solid @danger-color;
        color: @danger-color;
      }
    }
  }

  section {
    animation-duration: 0.8s;
    animation-name: fade;
  }

  section.dark {
    margin: 3rem 0;
    padding: 3rem 0;
    background: @dark-color;
    color: #fff;

    .card {
      border: 1px solid rgba(228, 232, 237, 0.05);
      background: rgba(228, 232, 237, 0.05);
    }

    .btn:not(.btn-primary) {
      border: 1px solid rgba(228, 232, 237, 0.1);
      background: none;
      color: rgba(228, 232, 237, 0.3);

      &:hover {
        border-color: rgba(228, 232, 237, 0.3);
        color: #fff;
      }
    }
  }

  form {
    .btn {
      margin: 2rem 0;
    }
  }

  table:not(.table) {
    width: 100%;
    margin-bottom: 1rem;

    th {
      text-align: left;
      padding: 0.6rem;
    }

    td {
      padding: 0.6rem;
    }
  }

  label.chip[ng-reflect-router-link] {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1.0;
    }
  }

  tag {
    border-radius: 3px;
    padding: 0 5px 0 8px;
  }
}

#post {
  h2, h3, h4 {
    color: @secondary-color;
  }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

// Animations
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Busy
.ng-busy-default-sign {
    border: none;
}

// Highlight.js
pre code, .hljs {
  display: block;
  overflow-x: auto;
  padding: 1.5em;
  background: #2e3745;
  font-size: 1.4rem;
  color: #c4d4e7;
  line-height: 2rem;
}

.hljs-comment,
.hljs-quote {
  color: #617f9f;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #88b4e7;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #88b4e7;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #34febb;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #34febb;
}

.hljs-attr {
  color: #40b991;
}

.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #34febb;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id {
  color: #88b4e7;
}

.hljs-title {
  color: #34febb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
