.documentation {
  .content {
    .wrapper {
      display: flex;
      flex: 1;

      aside {
        position: relative;
        min-width: 240px;
        height: fit-content;
        padding: 2em;
        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 999em;
          height: 100%;
          background: linear-gradient(0deg, #fff, #f5f5fa);
        }

        .version-select {
          position: relative;
          z-index: 2;
          font-size: .9rem;

          .label {
            font-weight: bold;
          }

          .versions {
            margin: 1rem 0;

            a {
              display: inline-block;
              padding: .1em .8em;
              border-radius: 2em;
              color: $color-accent;
              text-decoration: none;

              &.active {
                background: $color-accent;
                font-weight: bold;
                color: #fff;
              }

              &:hover:not(.active) {
                background: transparentize($color-accent, 0.8);
                color: $color-base-dark;
              }
            }
          }
        }

        #toggle-topic-select,
        #toggle-topic-select + label {
          display: none;
          user-select: none;
        }

        ul.topic-select {
          position: relative;
          z-index: 2;
          list-style: none;
          margin: 1rem 0;
          padding: 0;

          li.separator {
            display: block;
            position: relative;
            margin: .5rem 0;
            font-size: .9rem;
            font-weight: bold;
          }

          a {
            display: block;
            position: relative;
            margin: 0 0 0 1em;
            font-size: .9rem;
            color: lighten($color-base-dark, 20%);
            line-height: 2;
            text-decoration: none;
            outline: none;
            transition: color .2s;

            &.active {
              font-weight: 600;
              color: $color-base-dark;

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background: $color-accent;
              }
            }

            &:hover {
              color: $color-accent;
            }
          }
        }
      }

      main {
        flex: 1;
        padding: 2em 0 0 2em;

        .api-endpoint {
          position: relative;
          margin: 2em 0 0 0;

          &--anchor {
            position: absolute;
            top: 0;
            left: -1em;
          }

          &--heading {
            display: flex;
            padding-bottom: .5em;
            border-bottom: 1px solid transparentize($color-base-dark, 0.8);

            h3 {
              display: inline-block;
              flex: 1;
              margin: 0;
            }

            code {
              display: inline-block;
              padding: .5rem 0 0 0;
              line-height: 1;
              background: none;
              font-size: 0.9rem;
              color: $color-base-dark;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small-max) {
  .documentation {
    .content {
      .wrapper {
        flex-direction: column;
        
        aside {
          padding: 1em 0;

          &::before {
            right: -1em;
          }

          #toggle-topic-select { display: none; }
          #toggle-topic-select:checked + label + ul { display: block; }
          #toggle-topic-select + label + ul { display: none; }
          #toggle-topic-select + label:before { content: "Show "; }
          #toggle-topic-select:checked + label:before { content: "Hide "; }
          #toggle-topic-select + label {
            position: relative;
            z-index: 1;
            display: block;
            margin: .5em 0 0 0;
            padding: .3em .5em;
            background: $color-accent;
            font-size: .9rem;
            color: #fff;
            text-align: center;
            cursor: pointer;
            transition: background .2s;
  
            &:active,
            &:hover {
              background: darken($color-accent, 5%);
            }
          }
        }

        main {
          padding-left: 0;
        }

        .api-endpoint--heading {
          flex-direction: column;
        }
      }
    }
  }
}
