.documentation {
  .content {
    .wrapper {
      display: flex;
      flex: 1;

      aside {
        position: relative;
        min-width: 240px;
        padding: 1.4em 2em;
        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 999em;
          height: 100%;
          background: linear-gradient(0deg, #fff, #f5f5fa);
        }

        .version-select {
          position: relative;
          z-index: 2;
          font-size: .9rem;

          .label {
            font-weight: bold;
          }

          .versions {
            margin-top: .4em;

            a {
              display: inline-block;
              padding: .1em .8em;
              border-radius: 2em;
              color: $color-accent;
              text-decoration: none;

              &.active {
                background: $color-accent;
                font-weight: bold;
                color: #fff;
              }

              &:hover:not(.active) {
                background: lighten($color-accent, 30%);
              }
            }
          }
        }

        #toggle-topic-select,
        #toggle-topic-select + label {
          display: none;
        }

        ul.topic-select {
          position: relative;
          z-index: 2;
          list-style: none;
          margin: 0;
          padding: 1em 0;

          li.separator {
            display: block;
            position: relative;
            height: .1rem;
            margin: 1rem 0;

            &:after {
              content: attr(data-content);
              display: inline-block;
              font-size: .9rem;
              font-weight: bold;
              padding: 0 .8rem 0 0;
              transform: translateY(-.8rem);
            }
          }

          a {
            display: block;
            margin: 0 0 0 1em;
            font-size: .9rem;
            color: #415468;
            line-height: 2;
            text-decoration: none;
            outline: none;
            transition: color .2s;

            &.active {
              font-weight: 600;
              color: $color-accent;
            }

            &:hover {
              color: $color-accent;
            }
          }
        }
      }

      main {
        flex: 1;
        padding: 0 0 0 2em;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small-max) {
  .documentation {
    .content {
      .wrapper {
        flex-direction: column;
        
        aside {
          padding: 1em;

          &::before {
            right: -1em;
          }

          #toggle-topic-select { display: none; }
          #toggle-topic-select:checked + label + ul { display: block; }
          #toggle-topic-select + label + ul { display: none; }
          #toggle-topic-select + label:before { content: "Show "; }
          #toggle-topic-select:checked + label:before { content: "Hide "; }
          #toggle-topic-select + label {
            position: relative;
            z-index: 1;
            display: block;
            margin: .5em 0 0 0;
            padding: .3em .5em;
            background: $color-accent;
            font-size: .9rem;
            color: #fff;
            text-align: center;
            cursor: pointer;
            transition: background .2s;
  
            &:active,
            &:hover {
              background: darken($color-accent, 5%);
            }
          }
        }

        main {
          padding-left: 0;
        }
      }
    }
  }
}
