.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, $color-brand-green, $color-brand-blue);
  overflow: hidden;
  
  .waves {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1.6em;
    overflow-y: auto;
    max-height: 100vh;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    text-align: center;

    .logo-container {
      .logo {
        display: inline-block;
        padding: 2em;
        border-radius: 10em;
        border: 5px solid rgba(255, 255, 255, .4);
  
        img {
          width: 6em;
        }
      }
    }

    .cards {
      display: flex;
      margin-top: 2em;
      font-size: 1.1em;
      justify-content: center;

      .card {
        width: 200px;
        padding: 1em;
        margin: .5em;
        border-radius: .2em;
        background: transparentize($color-base-dark, .1);
        color: #fff;
        
        .name {
          font-weight: bold;
        }

        .alias {
          color: lighten($color-base-dark, 40%);
        }

        .links {
          margin: .6em -1em 0 -1em;
          padding-top: 1em;
          border-top: 1px solid rgba(255, 255, 255, .2);

          .link {
            display: inline-block;
            margin: 0 .3em;

            a {
              color: $color-link;
              text-decoration: none;

              &:hover {
                color: #fff;
              }

              img {
                width: 1em;
                margin-right: .2em;
                vertical-align: -2px;
              }
            }
          }
        }
      }
    }

    .stuff {
      margin-top: 1em;
      color: rgba(255, 255, 255, .6);

      a {
        font-weight: bold;
        color: rgba(255, 255, 255, .6);
        
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small-max) {
  .home {
    .inner {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
    
      .cards {
        flex-direction: column;

        .card {
          width: 100%;
          margin: .5em 0;
          box-sizing: border-box;
        }
      }
    }
  }
}
