.list {
  ul.pages {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin: .5em;
        padding: .6em 1em;
        background: #eff3f5;

        &:hover {
          background: #eceef0;
        }
      }
    }
  }
}
