<section class="container grid-960" [ngBusy]="sending">
  <form (ngSubmit)="submit()">
    <div class="form-group" [ngClass]="{ 'has-error': errors.email_address }">
      <label class="form-label" for="email_address">Your email address</label>
      <input
        class="form-input"
        type="email"
        id="email_address"
        placeholder="Email address"
        name="email_address"
        [(ngModel)]="model.email_address"
      />
      <p class="form-input-hint" *ngIf="errors.email_address">{{errors.email_address.msg}}</p>
    </div>
    <div class="form-group hide">
      <label class="form-label" for="email">Your email address</label>
      <input
        class="form-input"
        type="text"
        id="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="model.email"
      />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': errors.message }">
      <label class="form-label" for="message">Message</label>
      <textarea
        class="form-input"
        id="message"
        placeholder="Message"
        rows="3"
        name="message"
        [(ngModel)]="model.message"
      ></textarea>
      <p class="form-input-hint" *ngIf="errors.message">{{errors.message.msg}}</p>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg">Send</button>
    </div>
  </form>
</section>
<hr>
