<section class="container grid-960">
  <div class="text-center">
    <button class="btn btn-primary btn-lg" [routerLink]="['/admin/posts/create']">
      Create post
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created</th>
        <th colspan="2">Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!posts || posts.length == 0">
        <td colspan="5">
          No posts
        </td>
      </tr>
      <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
        <td>
          <a [routerLink]="['/blog', post.slug]">
            {{post.title}}
          </a>
        </td>
        <td>
          {{post.author.name}}
        </td>
        <td>
          <span moment [datetime]="post.created_at"></span>
        </td>
        <td>
          <span moment [datetime]="post.updated_at"></span>
        </td>
        <td class="text-right">
          <a [routerLink]="['/admin/posts', post._id, 'edit']">Edit</a>
          <span class="link danger" (click)="delete(post)">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="goToPage($event)" class="text-center"></pagination-controls>
</section>
