<section class="container grid-960" [ngBusy]="loading">
  <form (ngSubmit)="submit()">
    <div class="form-group" [ngClass]="{ 'has-error': errors.name }">
      <label class="form-label" for="name">Name</label>
      <input
        class="form-input"
        type="text"
        id="name"
        placeholder="Name"
        name="name"
        [(ngModel)]="model.name"
      />
      <p class="form-input-hint" *ngIf="errors.name">{{errors.name.msg}}</p>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': errors.email }">
      <label class="form-label" for="email">Email address</label>
      <input
        class="form-input"
        type="text"
        id="email"
        placeholder="Email address"
        name="email"
        [(ngModel)]="model.email"
      />
      <p class="form-input-hint" *ngIf="errors.email">{{errors.email.msg}}</p>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': errors.password }">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-input"
        type="password"
        id="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="model.password"
      />
      <p class="form-input-hint" *ngIf="editing">Leave blank to use existing password.</p>
      <p class="form-input-hint" *ngIf="errors.password">{{errors.password.msg}}</p>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg">Save</button>
    </div>
  </form>
</section>
