<section class="container grid-960">
  <form (ngSubmit)="login()">
    <div *ngIf="error" class="toast toast-warning">
      {{error}}
    </div>
    <div class="form-group">
      <label class="form-label" for="identity">Username or email address</label>
      <input class="form-input" type="email" id="identity" autofocus [(ngModel)]="model.identity" name="identity" />
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input class="form-input" type="password" id="password" [(ngModel)]="model.password" name="password" />
    </div>

    <hr />

    <div class="text-center">
      <button [disabled]="loading" class="btn btn-lg btn-primary">Log in</button>
    </div>
  </form>
</section>
