@import '../../../../variables';

#post {
  position: relative;

  .blog-link {
    float: left;
    color: @gray-color;
    font-size: 1.6rem;

    .icon {
      font-size: 1.2rem;
      vertical-align: baseline;
    }

    &:hover {
      color: @gray-color-dark;
      border-bottom: none;
    }
  }

  .created {
    font-size: 1.6rem;
    color: @gray-color;
    margin-bottom: 2.4rem;
    text-align: center;
  }

  .body {
    text-align: justify;
  }

  .tags {
    margin: 1rem 0 2rem 0;
  }

  .btn {
    margin-bottom: 2rem;
  }
}
