@import '../../../../variables';

#post {
  position: relative;

  .blog-link {
    position: absolute;
    top: -3rem;
    left: 2rem;
    display: block;
    padding: 0.4rem 1rem;
    background: rgba(100, 100, 100, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.2rem;
    color: @gray-color;

    .icon {
      font-size: 1rem;
      vertical-align: baseline;
    }

    &:hover {
      color: @gray-color-dark;
      border-bottom: none;
    }
  }

  .created {
    font-size: 1.6rem;
    color: @gray-color;
    margin-bottom: 2.4rem;
    text-align: center;
  }

  .body {
    text-align: justify;
  }

  .tags {
    margin: 1rem 0 2rem 0;
  }

  .btn {
    margin-bottom: 2rem;
  }
}
